@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body 
{
	margin:  0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

.register-page 
{
	width: 100%;
	margin:  0 auto;
	background-color: #ef5734;
	background-image: -moz-linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
	background-image: -webkit-linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
	background-image: -ms-linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}

.form-content  
{
	background: #fff;
	width: 968px;
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 180px 0;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	position: relative;
	display: flex;
	display: -webkit-flex;
}

.form-content .form-image img 
{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.form-content .form-detail 
{
	margin-top: 38px;
	padding: 30px 40px;
	position: relative;
	width: 100%;
}
.form-content .form-detail h2 
{
	color: #333;
	font-size: 35px;
	text-align: center;
	position: relative;
	padding: 6px 0 0;
	margin-bottom: 47px;
}

.form-content .form-row 
{
	width: 100%;
}

.form-content .form-detail .form-button 
{
	text-align: center;
}

.form-content .form-detail .input-form 
{
	margin-bottom: 35px;
}

.form-content .form-detail input
{
	width: 92%;
	padding: 0px 15px 10px 15px;
	border: 2px solid transparent;
	border-bottom: 2px solid #e5e5e5;
	appearance: unset;
	-moz-appearance: unset;
	-webkit-appearance: unset;
	-o-appearance: unset;
	-ms-appearance: unset;
	outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	-o-outline: none;
	-ms-outline: none;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #333;
}

.form-content .form-detail .form-row input:focus 
{
	border-bottom: 2px solid #fe892a;
}

.reset, .register
{
	padding: 10px 20px 10px 20px;
}

.baliklogin 
{
	font-size: 15px;
	margin-top: 15px;
	color: #333333;
}

input::-webkit-input-placeholder 
{ /* Chrome/Opera/Safari */
	color: #666;
	font-size: 16px;
}

input::-moz-placeholder 
{ /* Firefox 19+ */
	color: #666;
	font-size: 16px;
}

input:-ms-input-placeholder 
{ /* IE 10+ */
	color: #666;
	font-size: 16px;
}

input:-moz-placeholder 
{ /* Firefox 18- */
	color: #666;
	font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 991px) 
{
	.form-content 
	{
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}

	.form-content .form-image 
	{
		width: 100%;
	}

	.form-content .form-image img 
	{
		width: 100%;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 8px;
	}

	.form-content .form-detail 
	{
		padding: 30px 20px 30px 20px;
		width: auto;
	}

	.form-content .form-detail .form-row input 
	{
		width: 96%;
	}

	.form-content .form-detail .register 
	{
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 767px) 
{
	.form-content .form-detail .form-row input 
	{
		width: 94%;
	}
}

@media screen and (max-width: 575px) 
{
	.form-content .form-detail .form-row input 
	{
		width: 89%;
	}
}
